hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.output-section {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

#word-cloud {
    height: 40vh;
    width: 40vw;
    margin: 0 auto;
}

.topic-box {
    width: 100%;
    border-width: 2px;
    border-color: black;
    border-radius: 0;
    margin: 2px;
    padding: 2px;
    font-size: 16px;
    font-weight: 400;
}
