body {
    font-family: 'Roboto Condensed', sans-serif;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.output-section {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

#word-cloud {
    height: 40vh;
    width: 40vw;
    margin: 0 auto;
}

.topic-box {
    width: 100%;
    border-width: 2px;
    border-color: black;
    border-radius: 0;
    margin: 2px;
    padding: 2px;
    font-size: 16px;
    font-weight: 400;
}

.input-general {
    width: 100%;
    border-width: 2px;
    border-color: black;
    border-radius: 0;
    padding: 6px 6px;
    font-size: 16px;
    font-weight: 400;
}

.input-general:active {
  border-style: outset;
}

.input-general.active.focus, .input-general.active:focus,
.input-general.focus, .input-general:active.focus, 
.input-general:active:focus, .input-general:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  border-color: red; 
}

.btn-general {
    width: 100%;
    border-width: 2px;
    border-radius: 0;
    margin-top: 2px;
    padding: 6px 2px;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
}

.btn-white {
    border-color: black;
    color: white;
}

.btn-white:hover, 
.btn-white:focus{
    background-color: rgb(114, 114, 114);
    color: #41464b;
}

.top-section{
    margin: 20px 0;
}

.mlabel {
    font-size: 20px;
    font-weight: 400;
}
